<div>
    <div class="row">
        <div class="col">
            <table mat-table [dataSource]="Transactions" class="mat-elevation-z8">

                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                </ng-container>

                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef class="text-end"> Amount </th>
                    <td mat-cell *matCellDef="let element" class="text-end"> {{element.Amount | currency: 'USD'}} </td>
                </ng-container>

                <ng-container matColumnDef="IsFee">
                    <th mat-header-cell *matHeaderCellDef class="text-end"> Fee? </th>
                    <td mat-cell *matCellDef="let element" class="text-end">
                        <mat-icon aria-hidden="false" *ngIf="element.IsFee" fontIcon="check"></mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>
    </div>
</div>