<mat-drawer-container class="example-container" fullscreen>
  <mat-drawer mode="side" opened>
    <img src='assets/logo.png' width="100%" />
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a routerLink="snapshot">Account Snapshot</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="setup">Setup</a>
      </mat-list-item>
    </mat-list>
    <hr />
    <ul class="list list-unstyled mx-2">
      <li class="list-item" *ngFor="let q of Questions">
        <button mat-flat-button color="primary" routerLink="assistant/{{q.Code}}" class="mb-2">{{q.Text}}</button>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<ng-http-loader></ng-http-loader>
